<div id="signup">
  <button class="click">login</button>
  <form action="#" method="post" class="form2">
    <input type="text" name="name" placeholder="Username" class="input"/><br />
    <input type="Email" name="name" placeholder="Email" class="input"/><br />
    <input type="password" name="name" placeholder="Password" class="input"/><br />
    <input type="submit" value="SEND" name="name" class="button_submit" />

  </form>
  <button class="click2">register</button>
  <form action="#" method="post" class="form3">
    <input type="text" name="name" placeholder="Username" class="input"/><br />
    <input type="password" name="name" placeholder="Password" class="input"/><br />
    <input type="submit" value="SEND" name="name" class="button_submit" />

  </form>
</div>
